In [28]:
import pandas as pd
import gmaps
from api_keys import g_key

In [3]:
toronto_collisions = pd.read_csv('Resources/Fatal_Collisions_toronto.csv')

In [4]:
toronto_collisions.head()

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,Hour,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourh,ObjectId
0,-79.227590,43.816245,7377669,1275814,2012,2012-01-12T05:00:00.000Z,558,5,NEILSON RD,FINCH AVE E,...,,Yes,,Yes,,,,132,Malvern (132),1
1,-79.447742,43.637614,80000014,131058335,2013,2013-11-29T05:00:00.000Z,558,5,1491 LAKE SHORE BLVD W,,...,,,Yes,Yes,,,,85,South Parkdale (85),2
2,-79.259883,43.716773,80944448,8001077165,2018,2018-06-14T04:00:00.000Z,558,5,ST CLAIR AVE E,DANFORTH RD,...,,,,Yes,,,,120,Clairlea-Birchmount (120),3
3,-79.316890,43.821345,6253540,1162012,2010,2010-04-13T04:00:00.000Z,559,5,STEELES AVE E,BIRCHMOUNT RD,...,,Yes,,Yes,Yes,,Yes,116,Steeles (116),4
4,-79.574641,43.728129,80501551,4003267619,2014,2014-11-09T05:00:00.000Z,559,5,KIPLING AVE,WESTHUMBER BLVD,...,,Yes,,Yes,Yes,,,4,Rexdale-Kipling (4),5

In [5]:
toronto_collisions.columns

Index(['X', 'Y', 'Index_', 'ACCNUM', 'YEAR', 'DATE', 'TIME', 'Hour', 'STREET1',
       'STREET2', 'OFFSET', 'ROAD_CLASS', 'District', 'WardNum', 'WardNum_X',
       'WardNum_Y', 'Division', 'Division_X', 'Division_Y', 'LATITUDE',
       'LONGITUDE', 'LOCCOORD', 'ACCLOC', 'TRAFFCTL', 'VISIBILITY', 'LIGHT',
       'RDSFCOND', 'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY',
       'FATAL_NO', 'INITDIR', 'VEHTYPE', 'MANOEUVER', 'DRIVACT', 'DRIVCOND',
       'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND',
       'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK',
       'TRSN_CITY_', 'EMERG_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV',
       'REDLIGHT', 'ALCOHOL', 'DISABILITY', 'Hood_ID', 'Neighbourh',
       'ObjectId'],
      dtype='object')

In [6]:
toronto_collisions=toronto_collisions.rename(columns={'X':'Longitude','Y':'Latitude','REDLIGHT':'Red Light','ALCOHOL':'Alcohol'})

In [145]:
toronto_collision=toronto_collisions[['Longitude', 'Latitude', 'District','YEAR', 'VEHTYPE','DATE', 'Hour', 'ROAD_CLASS', 'RDSFCOND','Alcohol','AG_DRIV',
       'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK']]

In [150]:
toronto_collision=toronto_collision.rename(columns={'YEAR':'Year',
                                                    'VEHTYPE':'Vehicle Type',
                                                    'DATE':'Date', 
                                                    'ROAD_CLASS':'Road Type', 
                                                    'RDSFCOND':'Road Conditions',
                                                    'AG_DRIV':'Aggressive/Distracted Driving',
                                                    'PEDESTRIAN':'Pedestrian', 
                                                    'CYCLIST':'Cyclist', 
                                                    'AUTOMOBILE':'Automobile', 
                                                    'MOTORCYCLE':'Motorcycle', 
                                                    'TRUCK':'Truck'})

In [151]:
toronto_collision.loc[toronto_collision['Alcohol']=='Yes']

,Longitude,Latitude,District,Year,Vehicle Type,Date,Hour,Road Type,Road Conditions,Alcohol,Aggressive/Distracted Driving,Pedestrian,Cyclist,Automobile,Motorcycle,Truck
32,-79.432890,43.781245,North York,2010,Other,2010-07-31T04:00:00.000Z,7,Collector,Dry,Yes,Yes,,,Yes,,
104,-79.561664,43.645896,Etobicoke York,2015,"Automobile, Station Wagon",2015-09-26T04:00:00.000Z,0,Expressway,Dry,Yes,Yes,,,Yes,,
111,-79.507922,43.759272,Etobicoke York,2015,Bicycle,2015-06-11T04:00:00.000Z,0,Major Arterial,Dry,Yes,Yes,,Yes,Yes,,
119,-79.235263,43.757712,Scarborough,2015,,2015-08-16T04:00:00.000Z,0,Major Arterial,Dry,Yes,Yes,,,Yes,,
120,-79.267787,43.731745,Scarborough,2013,,2013-10-20T04:00:00.000Z,0,Major Arterial,Dry,Yes,,Yes,,Yes,,
123,-79.401890,43.636045,Toronto and East York,2008,"Automobile, Station Wagon",2008-06-27T04:00:00.000Z,0,Major Arterial,Dry,Yes,Yes,,,Yes,,
136,-79.237690,43.768945,Scarborough,2009,Other,2009-02-13T05:00:00.000Z,1,Collector,Dry,Yes,,,,Yes,,
147,-79.382404,43.680724,Toronto and East York,2016,,2016-09-05T04:00:00.000Z,2,Major Arterial,Dry,Yes,Yes,,,Yes,,
148,-79.398158,43.658187,Toronto and East York,2018,,2018-03-15T04:00:00.000Z,2,Major Arterial,Dry,Yes,Yes,Yes,,Yes,,
150,-79.409990,43.665345,Toronto and East York,2009,Other,2009-04-04T04:00:00.000Z,2,Major Arterial,Wet,Yes,,Yes,,Yes,,
151,-79.393590,43.716945,North York,2012,Other,2012-04-03T04:00:00.000Z,2,Major Arterial,Dry,Yes,Yes,,,Yes,,
152,-79.493961,43.760321,Etobicoke York,2016,,2016-01-31T05:00:00.000Z,2,Local,Wet,Yes,,,,Yes,,
157,-79.323090,43.796545,Scarborough,2008,"Automobile, Station Wagon",2008-05-03T04:00:00.000Z,2,Collector,Wet,Yes,,,,Yes,,
165,-79.577289,43.763743,Etobicoke York,2013,"Automobile, Station Wagon",2013-08-03T04:00:00.000Z,3,Major Arterial,Dry,Yes,Yes,,,Yes,,
166,-79.314189,43.807944,Scarborough,2012,Other,2012-10-21T04:00:00.000Z,3,Minor Arterial,Dry,Yes,Yes,,,Yes,,
175,-79.472667,43.633498,Toronto and East York,2017,"Automobile, Station Wagon",2017-01-29T05:00:00.000Z,3,Expressway,Dry,Yes,Yes,,,Yes,,
176,-79.210590,43.737845,Scarborough,2009,Other,2009-03-08T05:00:00.000Z,3,Collector,Wet,Yes,Yes,,,Yes,,
177,-79.349437,43.697508,Toronto and East York,2014,"Automobile, Station Wagon",2014-11-24T05:00:00.000Z,3,Major Arterial,Wet,Yes,Yes,,,Yes,,
259,-79.270885,43.687686,Scarborough,2017,,2017-12-21T05:00:00.000Z,15,Major Arterial,Other,Yes,Yes,Yes,,Yes,,
290,-79.269771,43.711009,Scarborough,2017,,2017-09-28T04:00:00.000Z,16,Minor Arterial,Dry,Yes,Yes,Yes,,Yes,,
337,-79.217136,43.779742,Scarborough,2014,"Automobile, Station Wagon",2014-11-24T05:00:00.000Z,18,Major Arterial,Dry,Yes,Yes,,,Yes,,
348,-79.529720,43.681620,Etobicoke York,2018,"Automobile, Station Wagon",2018-01-07T05:00:00.000Z,18,Major Arterial,Other,Yes,Yes,,,Yes,,
369,-79.283893,43.773146,Scarborough,2013,Bicycle,2013-04-13T04:00:00.000Z,18,Expressway,Dry,Yes,Yes,,Yes,Yes,,
452,-79.446690,43.788245,North York,2008,Other,2008-02-24T05:00:00.000Z,21,Major Arterial,Dry,Yes,,,,Yes,,
481,-79.592790,43.711345,Etobicoke York,2010,Other,2010-09-26T04:00:00.000Z,22,Major Arterial,Dry,Yes,Yes,,,Yes,,
482,-79.512874,43.599005,Etobicoke York,2018,,2018-05-15T04:00:00.000Z,22,Major Arterial,,Yes,Yes,,,Yes,,
492,-79.347980,43.755549,North York,2017,,2017-10-04T04:00:00.000Z,23,Major Arterial,Dry,Yes,,Yes,,Yes,,
503,-79.507890,43.759245,Etobicoke York,2009,Other,2009-10-17T04:00:00.000Z,23,Major Arterial,Dry,Yes,Yes,,,Yes,,
504,-79.507890,43.759245,Etobicoke York,2009,Other,2009-10-17T04:00:00.000Z,23,Major Arterial,Dry,Yes,Yes,,,Yes,,
505,-79.507890,43.759245,Etobicoke York,2009,Other,2009-10-17T04:00:00.000Z,23,Major Arterial,Dry,Yes,Yes,,,Yes,,

In [ ]:
toronto_collision.loc[toronto_collision['Alcohol']=='Yes']

In [9]:
toronto_collision=toronto_collision.sort_values('YEAR',ascending=False)

In [10]:
toronto_collision.dtypes

Longitude     float64
Latitude      float64
YEAR            int64
DATE           object
TIME            int64
Hour            int64
PEDESTRIAN     object
CYCLIST        object
AUTOMOBILE     object
MOTORCYCLE     object
TRUCK          object
dtype: object

In [11]:
toronto_collision['Time Patterns']=0

In [31]:
#Time PATTERNS
toronto_collision['Time Patterns'][toronto_collision['Hour'].isin(range(0,5))]='Early Morning'
toronto_collision['Time Patterns'][toronto_collision['Hour'].isin(range(4,10))]='Morning Commute'
toronto_collision['Time Patterns'][toronto_collision['Hour'].isin(range(9,18))]='Working Hours'
toronto_collision['Time Patterns'][toronto_collision['Hour'].isin(range(17,21))]='Evening Commute'
toronto_collision['Time Patterns'][toronto_collision['Hour'].isin(range(20,25))]='Evening'

/Users/leah/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leah/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/leah/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/leah/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/leah/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
#save cleaned data to csv
toronto_collision.to_csv('Resources/toronto_cleaned.csv', index=False)

In [33]:
time_groups=toronto_collision.groupby('Time Patterns')

In [15]:
years=list(toronto_collision['YEAR'].unique())
years

[2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008]

In [16]:
# create df for each year to collect annual data 
dfs=[]
for year in years:
    year_toronto=toronto_collision.loc[toronto_collision['YEAR']==year]
    dfs.append(year_toronto)

In [17]:
# Collect Dataframes for each year
year_eighteen=dfs[0]
year_seventeen=dfs[1]
year_sixteen=dfs[2]
year_fifteen=dfs[3]
year_fourteen=dfs[4]
year_thirteen=dfs[5]
year_twelve=dfs[6]
year_eleven=dfs[7]
year_ten=dfs[8]
year_nine=dfs[9]
year_eight=dfs[10]

In [143]:
year_eighteen

,Longitude,Latitude,YEAR,DATE,TIME,Hour,PEDESTRIAN,CYCLIST,AUTOMOBILE,MOTORCYCLE,TRUCK,Time Patterns
155,-79.458270,43.650427,2018,2018-09-15T04:00:00.000Z,240,2,,,Yes,Yes,,Early Morning
52,-79.334277,43.666098,2018,2018-05-16T04:00:00.000Z,800,8,,Yes,,,Yes,Morning Commute
348,-79.529720,43.681620,2018,2018-01-07T05:00:00.000Z,1816,18,,,Yes,,,Evening Commute
349,-79.275096,43.730475,2018,2018-01-09T05:00:00.000Z,1817,18,Yes,,Yes,,,Evening Commute
252,-79.508113,43.719008,2018,2018-04-13T04:00:00.000Z,1512,15,Yes,,Yes,,,Working Hours
...,...,...,...,...,...,...,...,...,...,...,...,...
591,-79.411601,43.703868,2018,2018-06-23T04:00:00.000Z,1259,12,Yes,,Yes,,,Working Hours
374,-79.520099,43.695372,2018,2018-10-05T04:00:00.000Z,1852,18,,,Yes,Yes,,Evening Commute
311,-79.269923,43.790507,2018,2018-01-02T05:00:00.000Z,1718,17,Yes,,Yes,,,Evening Commute
432,-79.239131,43.767378,2018,2018-08-10T04:00:00.000Z,2055,20,,,Yes,Yes,,Evening
372,-79.472026,43.683169,2018,2018-09-18T04:00:00.000Z,1850,18,,,Yes,Yes,,Evening Commute

In [90]:
# use google maps to create heat map
gmaps.configure(api_key=g_key)

In [117]:
# Store 'Latitude' and 'Longitude' into  df 
locations_year = toronto_collision[["Latitude", "Longitude", 'YEAR']].astype(float)
locations_year['Rounded Latitude']=round(locations.loc[:,'Latitude'],1)
locations_year['Rounded Longitude']=round(locations.loc[:,'Longitude'],1)
locations_year['Weight']=''

locations_year

      Latitude  Longitude    YEAR  Rounded Latitude  Rounded Longitude Weight
155  43.650427 -79.458270  2018.0              43.7              -79.5
52   43.666098 -79.334277  2018.0              43.7              -79.3
348  43.681620 -79.529720  2018.0              43.7              -79.5
349  43.730475 -79.275096  2018.0              43.7              -79.3
252  43.719008 -79.508113  2018.0              43.7              -79.5
..         ...        ...     ...               ...                ...    ...
234  43.782745 -79.349090  2008.0              43.8              -79.3
58   43.788645 -79.158690  2008.0              43.8              -79.2
452  43.788245 -79.446690  2008.0              43.8              -79.4
260  43.726445 -79.535590  2008.0              43.7              -79.5
609  43.737945 -79.242390  2008.0              43.7              -79.2

[610 rows x 6 columns]

In [118]:
groupedlocations= locations_year.groupby(['YEAR','Rounded Latitude','Rounded Longitude'])
groupedlocations.count()

                                           Latitude  Longitude  Weight
YEAR   Rounded Latitude Rounded Longitude
2008.0 43.6             -79.5                     2          2       2
                        -79.4                     2          2       2
       43.7             -79.6                     5          5       5
                        -79.5                    11         11      11
                        -79.4                    10         10      10
...                                             ...        ...     ...
2018.0 43.8             -79.6                     2          2       2
                        -79.5                     1          1       1
                        -79.4                     4          4       4
                        -79.3                     9          9       9
                        -79.2                     6          6       6

[134 rows x 3 columns]

In [121]:
locations = toronto_collision[["Latitude", "Longitude"]].astype(float)
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))