In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import gmaps
from api_keys import g_key
from ipywidgets.embed import embed_minimal_html

In [2]:
montreal_collisions = pd.read_csv('Resources/montreal_2012_2018.csv')
montreal_incomes = pd.read_csv('Resources/montreal_incomes.csv')

In [3]:
montreal_collisions=montreal_collisions.rename(columns={'LOC_LONG':'Longitude',
                                                        'LOC_LAT':'Latitude',
                                                        'AN': 'Year',
                                                        'DT_ACCDN': 'Date',
                                                        'HR_ACCDN':'Hour',
                                                        'JR_SEMN_ACCDN':'Weekday',
                                                        'CD_COND_METEO':'Weather Conditions',
                                                        'CD_MUNCP':'District'
                                                       })

In [4]:
montreal_collisions= montreal_collisions.loc[montreal_collisions["GRAVITE"]== "Mortel"]
montreal_collisions= montreal_collisions.loc[montreal_collisions["REG_ADM"]== "Montréal(06)"]

In [5]:
montreal_districts = pd.read_csv('Resources/montreal_districts.csv')

In [6]:
montreal_collisions=pd.merge(montreal_collisions, montreal_districts, on= "District")

In [7]:
montreal_collisions['Hour'] = montreal_collisions['Hour'].str[:2]

In [8]:
montreal_collisions['Hour']=montreal_collisions['Hour'].replace('No',99)

In [9]:
montreal_collisions['Hour']=montreal_collisions['Hour'].astype(int)

In [10]:
montreal_collision=montreal_collisions[['Longitude', 'Latitude', 'Year','Date','Hour','Districts']]
montreal_collision

     Longitude   Latitude  Year        Date  Hour                Districts
0   -73.788746  45.503413  2012  2012/02/21    20      Dollard-Des Ormeaux
1   -73.793593  45.484392  2015  2015/07/30    10      Dollard-Des Ormeaux
2   -73.811355  45.476789  2012  2012/10/26    23                 Montréal
3   -73.691696  45.527490  2012  2012/07/13    16                 Montréal
4   -73.681008  45.499242  2012  2012/12/13    17                 Montréal
..         ...        ...   ...         ...   ...                      ...
174 -73.924570  45.423579  2016  2016/04/10     9  Sainte-Anne-de-Bellevue
175 -73.640819  45.451819  2015  2015/10/22     7           Montréal-Ouest
176 -73.641614  45.451382  2017  2017/04/27     8           Montréal-Ouest
177 -73.649808  45.473526  2015  2015/11/06    16                Hampstead
178 -73.647688  45.483116  2016  2016/01/27    99                Hampstead

[179 rows x 6 columns]

In [11]:
montreal_collision=montreal_collision.sort_values('Year',ascending=False)
montreal_collision.dtypes

Longitude    float64
Latitude     float64
Year           int64
Date          object
Hour           int32
Districts     object
dtype: object

In [12]:
montreal_collision['Time Patterns']=0

In [13]:
montreal_collision['Time Patterns'][montreal_collision['Hour'].isin(range(0,5))]='Early Morning'
montreal_collision['Time Patterns'][montreal_collision['Hour'].isin(range(4,10))]='Morning Commute'
montreal_collision['Time Patterns'][montreal_collision['Hour'].isin(range(9,18))]='Working Hours'
montreal_collision['Time Patterns'][montreal_collision['Hour'].isin(range(17,21))]='Evening Commute'
montreal_collision['Time Patterns'][montreal_collision['Hour'].isin(range(20,25))]='Evening'

C:\Users\josed\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\josed\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\josed\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\josed\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\josed\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
montreal_collision

,Longitude,Latitude,Year,Date,Hour,Districts,Time Patterns
138,-73.677218,45.518355,2018,2018/09/10,21,Montréal,Evening
143,-73.550944,45.547617,2018,2018/07/08,22,Montréal,Evening
149,-73.600069,45.544772,2018,2018/06/19,6,Montréal,Morning Commute
148,-73.645704,45.529995,2018,2018/05/11,2,Montréal,Early Morning
147,-73.629950,45.541305,2018,2018/11/04,10,Montréal,Working Hours
...,...,...,...,...,...,...,...
17,-73.613588,45.539950,2012,2012/05/29,14,Montréal,Working Hours
16,-73.605014,45.539364,2012,2012/01/16,18,Montréal,Evening Commute
15,-73.616715,45.551361,2012,2012/11/27,12,Montréal,Working Hours
157,-73.829372,45.467596,2012,2012/02/02,16,Pointe-Claire,Working Hours
0,-73.788746,45.503413,2012,2012/02/21,20,Dollard-Des Ormeaux,Evening

In [15]:
time_groups=montreal_collision.groupby('Time Patterns')

In [16]:
years=list(montreal_collision['Year'].unique())
years

[2018, 2017, 2016, 2015, 2014, 2013, 2012]

In [17]:
dfs=[]
for year in years:
    year_montreal=montreal_collision.loc[montreal_collision['Year']==year]
    dfs.append(year_montreal)

In [18]:
year_eighteen=dfs[0]
year_seventeen=dfs[1]
year_sixteen=dfs[2]
year_fifteen=dfs[3]
year_fourteen=dfs[4]
year_thirteen=dfs[5]
year_twelve=dfs[6]

In [19]:
gmaps.configure(api_key=g_key)

In [20]:
locations_year = montreal_collision[["Latitude", "Longitude", 'Year']].astype(float)
locations_year['Rounded Latitude']=round(locations_year.loc[:,'Latitude'],1)
locations_year['Rounded Longitude']=round(locations_year.loc[:,'Longitude'],1)
locations_year['Weight']=''

locations_year

      Latitude  Longitude    Year  Rounded Latitude  Rounded Longitude Weight
138  45.518355 -73.677218  2018.0              45.5              -73.7
143  45.547617 -73.550944  2018.0              45.5              -73.6
149  45.544772 -73.600069  2018.0              45.5              -73.6
148  45.529995 -73.645704  2018.0              45.5              -73.6
147  45.541305 -73.629950  2018.0              45.5              -73.6
..         ...        ...     ...               ...                ...    ...
17   45.539950 -73.613588  2012.0              45.5              -73.6
16   45.539364 -73.605014  2012.0              45.5              -73.6
15   45.551361 -73.616715  2012.0              45.6              -73.6
157  45.467596 -73.829372  2012.0              45.5              -73.8
0    45.503413 -73.788746  2012.0              45.5              -73.8

[179 rows x 6 columns]

In [21]:
groupedlocations= locations_year.groupby(['Year','Rounded Latitude','Rounded Longitude'])
groupedlocations.count()

                                           Latitude  Longitude  Weight
Year   Rounded Latitude Rounded Longitude
2012.0 45.4             -73.9                     1          1       1
                        -73.7                     2          2       2
                        -73.6                     1          1       1
       45.5             -73.8                     3          3       3
                        -73.7                     6          6       6
                        -73.6                     9          9       9
       45.6             -73.7                     1          1       1
                        -73.6                     6          6       6
                        -73.5                     2          2       2
       45.7             -73.5                     1          1       1
2013.0 45.4             -73.9                     1          1       1
                        -73.7                     1          1       1
       45.5             -73.7                     2          2       2
                        -73.6                    13         13      13
                        -73.5                     2          2       2
       45.6             -73.6                     5          5       5
                        -73.5                     2          2       2
       45.7             -73.6                     1          1       1
2014.0 45.4             -74.0                     1          1       1
                        -73.7                     1          1       1
                        -73.6                     2          2       2
       45.5             -73.7                     1          1       1
                        -73.6                    10         10      10
       45.6             -73.6                     5          5       5
                        -73.5                     2          2       2
2015.0 45.5             -73.8                     2          2       2
                        -73.6                    15         15      15
                        -73.5                     2          2       2
       45.6             -73.7                     1          1       1
                        -73.6                     2          2       2
                        -73.5                     1          1       1
2016.0 45.4             -73.9                     1          1       1
       45.5             -73.7                     3          3       3
                        -73.6                    13         13      13
       45.6             -73.6                     4          4       4
                        -73.5                     3          3       3
2017.0 45.4             -73.7                     1          1       1
                        -73.6                     1          1       1
       45.5             -73.9                     1          1       1
                        -73.8                     2          2       2
                        -73.7                     4          4       4
                        -73.6                    10         10      10
       45.6             -73.6                     7          7       7
                        -73.5                     1          1       1
2018.0 45.4             -73.6                     1          1       1
       45.5             -73.9                     1          1       1
                        -73.8                     1          1       1
                        -73.7                     4          4       4
                        -73.6                    11         11      11
       45.6             -73.6                     6          6       6

In [22]:
locations = montreal_collision[["Latitude", "Longitude"]].astype(float)
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))